<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= show_name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'Home', potepan_path %>
          </li>
          <% if controller.controller_path == 'potepan/categories' %>
            <li>
              <%= link_to 'shop', '#' %>
            </li>
          <% end %>
          <li class="active"><%= show_name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>