<div class="panel panel-default">
  <div class="panel-heading">
    <%= panel_name %>
  </div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <%= render partial: 'potepan/categories/taxonomy', collection: panel_items %>
      </ul>
    </div>
  </div>
</div>
