<div class="panel panel-default filterNormal">
  <div class="panel-heading">
    <%= panel_name %>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <%= render partial: 'option_value', collection: panel_items %>
    </ul>
  </div>
</div>
