<li>
  <%= link_to 'javascript:;', data: { toggle: 'collapse', target: "##{taxonomy.id}" } do %>
    <%= taxonomy.name %><i class="fa fa-plus"></i>
  <% end %>
  <ul id=<%= taxonomy_"#{taxonomy.id}" %> class="collapse collapseItem">
    <%= render partial: 'potepan/categories/taxon', collection: taxonomy.root.descendants %>
  </ul>
</li>
