<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% products = Spree::Taxon.new.products
     Spree::Taxon.includes(:products)
                 .where(name: product.taxons.flat_map { |taxon|
                              taxon.leaf? ? taxon.name : taxon.self_and_descendants.pluck(:name) } )
                 .where.not('spree_products.id': product.id)
                 .each { |taxon| products.push(taxon.products) } %>
  <%= render products[0..3], location: :products %>
</div>

<!--products = Spree::Taxon.new.products-->
<!--Spree::Taxon.includes(:products).where(name: product.taxons.flat_map { |taxon| taxon.leaf? ? taxon.name : taxon.self_and_descendants,pluck(:name) } ).each do |taxon|-->
<!--  taxon.products.include?(product) ? products.push(taxon.products.delete(product)) : products.push(taxon.products)-->
<!--end-->
