<% provide(:title, @product.name) %>
<%= render 'potepan/shared/light_section', show_object: @product %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render 'media_left', product: @product %>
          <%= render 'media_body', product: @product %>
        </div>
      </div>
    </div>
    <%= render 'product_content' %>
  </div>
</section>
